{
  "extends": ["@astral/eslint-config-react-ts", "plugin:testing-library/react", "plugin:mobx/recommended"],
  "plugins": ["mobx"],
  "rules": {
    "mobx/missing-observer": "off",
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "@admin/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@main/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@common/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": [
          "internal"
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "object",
          "index"
        ]
      }
    ]
  },
  "overrides": [
    // Для уведичения производительности plugin:testing-library запускается только для test.tsx файлов
    {
      "files": "**/*.test.tsx",
      "extends": ["plugin:testing-library/react"],
      "plugins": ["testing-library"]
    },
    // Ниже определены правила, которые устанавливают архитектурные границы (запрещают импорты из директорий)
    {
      "files": "**/shared/**/*.+(ts|tsx)",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["**/data", "**/modules", "**/screens", "**/features", "**/domain"],
                "message": "Shared не должен зависеть от: data, modules, screens, features, domain"
              }
            ]
          }
        ]
      }
    },
    {
      "files": "pages/**/*.+(ts|tsx)",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["**/data", "**/modules"],
                "message": "Pages не зависит от: data и modules"
              }
            ]
          }
        ]
      }
    },
    {
      "files": "+(modules|screens|pages|data|features|domain)/**/*.+(ts|tsx)",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["@astral", "@mui", "lodash-es"],
                "message": "Зависимость должна быть инвертирована через shared"
              }
            ]
          }
        ]
      }
    },
    {
      "files": "modules/**/*.+(ts|tsx)",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["@common/data", "@common/shared"],
                "message": "@common/data|shared должны реэкспортироваться через соответсвующий слой приложения"
              }
            ]
          }
        ]
      }
    },
    {
      "files": "data/**/*.+(ts|tsx)",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["@common/domain", "@common/shared", "@common/features"],
                "message": "Data слой не должен зависеть от @common/domain|shared|features"
              }
            ]
          }
        ]
      }
    },
    {
      "files": "shared/**/*.+(ts|tsx)",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["@common/domain", "@common/features", "@common/data"],
                "message": "Shared слой не должен зависеть от @common/domain|data|features"
              }
            ]
          }
        ]
      }
    }
  ]
}


